<h1>Population Estimates</h1>

<input id="input-zip"
       placeholder="zip code"
       size="10"
       />
<button id="search-zip">Search</button>
<script>
  initZipButton();
</script>

<br>
<br>

<% unless @zipEstimates.nil? %>
  <table class="cbsa-msa">  
    <thead>
      <tr>
        <th>CBSA</th>
        <th>MSA</th>
        <th>Population</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @zipEstimates[:data][:attributes][:cbsa] %>
        </td>
        <td>
          <%= @zipEstimates[:data][:attributes][:msaName] %>
        </td>
        <td class="population">
          &nbsp;&nbsp;2014: <%= number_to_human @zipEstimates[:data][:attributes][:p2014], precision: 5 %>
          <br>
          &nbsp;&nbsp;2015: <%= number_to_human @zipEstimates[:data][:attributes][:p2015], precision: 5 %>
        </td>
      </tr>
    </tbody>
  </table>
  <p>
    Annual growth: <%= number_to_human @annualGrowth, precision: 3 %>%
  </p>
<% end %>

<% unless @errors.nil? %>
  <% @errors.each do |error| %>
    <div>
      Error: <%= error[:detail] %>
    </div>
  <% end %>
<% end %>
