<h1>Population Estimates</h1>

<input id="input-zip"
       placeholder:="zip code"
       size="10"
       />
<button id="search-zip">Search</button>
<script>
  initZipButton();
</script>

<br>
<% unless @zipEstimates.nil? %>
  <%= puts @zipEstimates %>
  MSA: <%= @zipEstimates[:data][:attributes][:msaName] %>
  <br>
  CBSA: <%= @zipEstimates[:data][:attributes][:cbsa] %>
  <br>
  population 2014<%= @zipEstimates[:data][:attributes][:p2014] %>
  <br>
  populaiton 2015<%= @zipEstimates[:data][:attributes][:p2015] %>
<% end %>

<% unless @errors.nil? %>
  <% @errors.each do |error| %>
    <div>
      Error: <%= error[:detail] %>
    </div>
  <% end %>
<% end %>
